
.form-data{
    
    border: 1px solid darkblue;
    width: 35%;
   margin:0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color:#fff;
}
.form-data p{
    margin-top:0px;
    padding:5px 0px;
    color: white;
    font-weight: 400;
    background-color: darkblue;
}
.form-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ddd; */
    /* margin: 0px 12rem; */
    margin-bottom: 20px;
}
.form-input{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.form-input label{
    
    display: flex;
}
.form-input label,input{
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 500;
}
.Button{
    color: white;
    background-color:deepskyblue;
    width: 4rem;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    margin: 0px 20px;
}
.form-Buttons{
    margin-bottom: 10px;
}

